#projectSection {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}

#card {
  border-radius: 20px;
  background: black;
}

@media (min-width: 426px) and (max-width: 4000px) {
  #card {
    width: 320px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.img-container img {
  width: 100%;
}

.content {
  padding: 16px;
}

.footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-top: 24px;
}

.project-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #cccccc;
  margin-top: 24px;
}

.project-sub-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #a7a7a7;
  margin-top: 16px;
}
