body{
  background: black;
  color: #fff;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.name{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  font-size: 50px;
  background: -webkit-linear-gradient(#13B0F5, #E70FAA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameWrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 body
 {
   margin: 0;
   padding: 0;
   background: #232323;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }

 body{
    overflow-x: hidden;
    max-width: 100vw;
 }

